/* src/Home.css */

.homepage {
    font-family: 'Arial', sans-serif;
    padding-bottom: 100px;
  }
  
  .intro {
    position: relative;
    width: 100%;
    height: 600px; 
    background-image: url('https://via.placeholder.com/1200x600'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .intro-content {
    color: white;
    z-index: 2;
  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .features {
    text-align: center;
    padding: 50px 0;
    background-color: #fafafa;
  }
  
  .features-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .feature {
    text-align: center;
    width: 250px;
  }
  
  .feature img {
    width: 150px;
    height: 150px;
  }
  
  .cta-section {
    text-align: center;
    padding: 50px;
    background-color: #a5a5a5;
    color: white;
  }
  
/* Terminal background */
.terminal-container {
  background-color: #000; /* Black terminal background */
  color: #00ff00; /* Green terminal text */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  height: 100vh; /* Full page height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-content {
  white-space: pre-wrap; /* Preserve line breaks */
  font-size: 1.2em;
  padding: 20px;
  border: 2px solid #00ff00;
  width: 80%;
  max-width: 800px;
  min-height: 80%; /* Make the terminal fill most of the screen */
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  overflow: auto; /* Allow scrolling if content overflows */
  position: relative;
}

/* Blinking cursor */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #00ff00; /* Green cursor */
  margin-left: 2px;
  vertical-align: bottom; /* Align cursor with text */
  animation: blink 1s step-end infinite;
}

.prompt-line {
  display: flex;
  align-items: center;
}

.error-line {
  color: #ff0000; /* Red text for error */
  margin-top: 5px;
  white-space: pre; /* Preserve white spaces */
}
